.panel {
    padding: 10px;
    margin-bottom: 10px;
}

.product {
    position: relative;
}

.product .name {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid silver;
}

.product .code {
    display: inline-block;
    font-size: 0.8em;
}

.product .price {
    position: absolute;
    left: -10px;
    top: 30px;
    background: #FAAC58;
    font-size: 12pt;
    color: #1D436A;
    font-weight: bold;
    padding: 5px 10px 5px 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.product .thumbnail {
    position: relative;
}

.product .desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.87;
    text-align: justify;
    background: #fff;
    padding: 7px;
    display: none;
}

.product .cell {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.product .cell p {
    vertical-align: middle;
    display: table-cell;
}

.product .desc .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.product .thumbnail:hover .desc{
    display: block;
}

.thumbnail .product-image {
    /* justify-content: center; */
    /* margin-left: 50px; */
    width: 70%;
    height: 70%;
}

.code-price {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.footer {
    padding-top: 10px;
    width: 100%;
    height: 60px;
    background: #F5F5F5;
    margin-top: 50px;
}

.more-options {
    text-align: center;
    margin-top: 10px;
}

.xs-option-container {
    margin: 10px 0;
    display: none;
}

.xs-option-container a {
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 767px) {
    #findProducts,
    #productCatalog {
        display: block;
    }
}

@media (max-width: 767px) {
    .xs-option-container {
        display: block;
    }
    #findProducts,
    #productCatalog {
        margin-top: 40px;
    }
}

.shooping-card-desc {
    padding: 15px;
}

.shooping-card-desc .btn {
    margin-top: 10px;
}

.sign-in {
    margin-right: 10px;
}

#shoppingCard table img {
    max-height: 10%;
    margin: 0 auto;
    display: block;
}

.load-indicator {
    background: url('../img/loading.gif') no-repeat center center;
    display: block;
}